body{
    background-color: hsl(217, 28%, 15%);
    color: white;
    height: 100%;
    max-width: 1240px;
    padding: 0;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

header{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

#logo{
    padding: 30px;
}

#navmenu{
    padding: 30px;
    margin-right: 50px;
}

li{
    list-style: none;
}
.menuList{
    float: left;
    margin-right: 50px;
}

#box1{
    background-image: url('./images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 30px;
}
    

h1{
    text-align: center;
    width: 40%;
}

#boxText{
    width: 40%;
    text-align: center;
    margin-bottom: 40px;
}

button{
    font-weight: 900;
    font-size: 20px;
    border: none;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    border-radius: 20px;
    color: white;
    background-color: rgb(59, 186, 245);
}

#bgDark{
    background-color: hsl(218, 28%, 13%);
    position: relative;
}

#box2{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    
}

.boxContent{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

#box3{
    display: flex;
    justify-content: center;
    align-items: center;
}

#boxAside{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 20px;
}

#titleAside{
    font-size: 35px;
}

#box4{
    background-image: url('./images/bg-quotes.png');
    background-repeat: no-repeat;
    background-position-x: 25px;
    background-position-y: 40px;
    display: flex;
    justify-content: center;
}

#box5{
    height: 300px;
    background-color: hsl(218, 28%, 13%);
    position: relative;
}

.card{
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: hsl(219, 30%, 18%);
    margin: 10px;
    margin-top: 80px;
    box-sizing: border-box;
    padding: 18px;
}

.profile{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.cardProfile{
    display: flex;
    font-size: 15px;
    width: 100%;
}

h3{
    font-size: 12px;
    margin: 0;
}

.profimeIMG{
    align-self: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#footerCard{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 70%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    background-color: hsl(219, 30%, 18%);
    border-radius: 8px;
    position: absolute;
    bottom: -140px;
    left: 50%;
    transform: translateX(-50%);
}

#footerCard h4{
    font-size: 30px;
    margin: 0;
}

#footerCard p{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

input{
    font-weight: 900;
    font-size: 20px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 60%;
    
}

#footerCard2{
    display: flex;
    justify-content: space-between;
    padding-top: 180px;
}

footer{
    background-color: hsl(216, 53%, 9%);
}

#footerBox{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 30%;
    padding: 50px;
}

#footerBox img{
    
    width: 50%;
}

.footerListContainer{
    padding: 50px;
}


.number::before{
    content: url('./images/icon-phone.svg');
    margin-right: 10px;

}

.email::before{
    content: url('./images/icon-email.svg');
    margin-right: 10px;
}

